#soundMute {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://icon-icons.com/icons2/1130/PNG/64/pausewithcircularbutton_80264.png);
}
#soundMute.muted {
  background-image: url(https://icon-icons.com/icons2/1130/PNG/64/playwithcircularbuttonwithrightarrowofboldroundedfilledtriangle_80162.png);
}
